---
import type { CollectionEntry } from "astro:content";
import BlogCardTag from "./BlogCardTag.astro";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  blog: CollectionEntry<"blog">;
}

const { blog } = Astro.props;
---

<div class="grid grid-cols-3 gap-4">
  <div class="col-span-1 aspect-video bg-gray-400 rounded-lg overflow-hidden">
    <img
      src={blog.data.heroImage}
      alt={`${blog.data.title} Blog Post`}
      class="object-cover w-full h-full"
    />
  </div>
  <div class="col-span-2">
    <BlogCardTag blog={blog} />
    <a href={`/blog/${blog.id}/`}>
      <h4 class="text-xl font-bold text-gray-800 my-2 transition duration-100">
        {blog.data.title}
      </h4>
      <p class="text-gray-600 mb-4">{blog.data.description}</p>
      <div class="flex items-center text-sm text-gray-500">
        <FormattedDate date={blog.data.createdAt} />
      </div>
    </a>
  </div>
</div>
